
/* background color classes */

#answers {
  text-align: center;
  background-color: lightgreen;
  width: 20%;
  align-content: center;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;


  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.box {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid grey;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  background-color: lightblue;
}

#vennDiagram {
  background-color: lightblue;
  width: 80%;
  height: 80%;
  align-content: center;
  overflow-y: auto;
  /* width: 792px;
  height: 612px; */
}


.box-selected {
  border: 3px solid black;
}

body {
  font-family: helvetica;
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: row;
  height: auto;
}
/* .section {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
} */

#checkButton {
  margin-top: 20px;
  background-color: #404040;
  border: none;
  color: white;
  padding: 10px 40px;
  font-size: 25px;
  font-family: ;
}

#secondanswerscolumn {
  text-align: center;
  background-color: lightgreen;
  width: 20%;
  align-content: center;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;


  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}
