
/* background color classes */


#testDad {
  text-align: center;
  color: white;
  background-color: red;
  width: 20%;
  height: 100px;
  align-content: center;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
}

#test1 {
  text-align: center;
  color: white;
  background-color: red;
  width: 80%;
  align-content: center;
  /* overflow-y: auto; */
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#test2 {
  text-align: center;
  color: white;
  background-color: red;
  width: 80%;
  align-content: center;
  /* overflow-y: auto; */
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#answers {
  text-align: center;
  color: white;
  background-color: #515151;
  width: 20%;
  align-content: center;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;


  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.box {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid grey;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  background-color: black;
}

#vennDiagram {
  background-color: white;
  width: 80%;
  height: 80%;
  align-content: center;
  overflow-y: auto;
  /* width: 792px;
  height: 612px; */
}


.box-selected {
  border: 3px solid white;
}

body {
  font-family: helvetica;
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: row;
  height: auto;
}
/* .section {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
} */

#checkButton {
  margin-top: 20px;
  background-color: #404040;
  border: none;
  color: white;
  padding: 10px 40px;
  font-size: 25px;
  font-family: ;
}

#secondanswerscolumn {
  text-align: center;
  background-color: lightgreen;
  width: 20%;
  align-content: center;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;


  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.VD {
  left: 250px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}



.innerw {
  left: 500px;
  top: 200px;
  overflow: hidden;
  position: absolute;
  /* border: solid; */
  z-index: 20;
  /* transform: translateZ(10px); */
  pointer-events: none;
}

.innerw2 {
  margin-left: 0px;
  top: 0px;
  overflow: hidden;
  position: static;
  /* border: solid; */
  /* z-index: 20; */
  pointer-events: none;
}

.innerw3 {
  margin-left: 170px;
  top: 0px;
  overflow: hidden;
  position: static;
  /* border: solid; */
  /* z-index: 20; */
  pointer-events: none;
}

.inner {
  margin-left: -85px;
  margin-top: 130px;
  background-color: palegreen;
  z-index: 20;
  position: static;
  pointer-events: auto;
}

.inner:hover {
  background-color: green;
}

.mwrap {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}
.mwrap2 {
  position: static;
  margin-left: 0px;
  margin-top: 0px;
  overflow: hidden;
  pointer-events: none;
}
.mid {
  position: static;
  pointer-events: auto;
}
#midaw1 {
  left: 500px;
  top: 200px;
}
#mida {
  margin-left: 170px;
  margin-top: 0px;
}
#midbw1 {
  left: 670px;
  top: 200px;
}
#midb {
  margin-left: -85px;
  margin-top: 130px;
}
#midcw1 {
  left: 585px;
  top: 330px;
}
#midc {
  margin-left: -85px;
  margin-top: -130px;
}
.mid {
  background-color: lightblue;
  z-index: 15;
}
.mid:hover {
  background-color: blue;
}


#outer1 {
  left: 500px;
  top: 200px;
}

#outer2 {
  left: 670px;
  top: 200px;
}
#outer3 {
  left: 585px;
  top: 330px;
}
.outer {
  background-color: lightcoral;
  z-index: 1;
  pointer-events: auto;
}
.outer:hover {
  background-color: red;
}
