
/* background color classes */

#instruction {
  /* background-color: #814374; */
  /* border: 1px solid #F2F2F2; */
  color: white;
  margin-left: -10px;
  margin-top: -8px;
  width: 231px;
  padding: 5px 5px;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  border: solid;
  border-color: white;
}


#answers {
  text-align: center;
  color: white;
  border: 3px solid #F2F2F2;
  background-color: #06425C;
  width: 230px;
  height: 650px;
  align-content: center;
  overflow-y: auto;
  margin: 10px;
  padding: 5px;


  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.box {
  /* position: relative;
  left: -100px; */
  font-size: 16;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #F2F2F2;
  /* box-sizing: border-box; */
  width: 100px;
  /* border: 1px solid #F2F2F2; */
  padding: 2px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: 255, 255, 255, 0;
}

.box:hover {
  color: #51A39D
}

#vennDiagram {
  /* background-color: #F2F2F2; */
  width: 80%;
  height: 80%;
  align-content: center;
  overflow-y: auto;
  /* width: 792px;
  height: 612px; */
}




/* .box-selected {
  border: 1px solid #51A39D;
} */

body {
  font-family: helvetica;
  font-size: 18px;
  background-color: #06425C;
}
.container {
  /* display: flex; */
  flex-direction: row;
  height: auto;
}
/* .section {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
} */

#restart {
  position: absolute;
  right: 30px;
  bottom: 40px;
  background-color: #217196;
  border: none;
  color: white;
  margin-left: 10px;
  width: 216px;
  padding: 10px 10px;
  font-size: 25px;
  border: 2px solid #F2F2F2;
}

#restart:hover {
  background-color: #51A39D;
}

#checkButton {
  position: absolute;
  right: 30px;
  bottom: 100px;
  background-color: #217196;
  border: none;
  color: white;
  margin-left: 10px;
  width: 216px;
  padding: 10px 10px;
  font-size: 25px;
  border: 2px solid #F2F2F2;
}

#checkButton:hover {
  background-color: #51A39D;
}

#secondanswerscolumn {
  text-align: center;
  background-color: lightgreen;
  width: 20%;
  align-content: center;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;


  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.vd {
  left: 150px;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}

.correctAnswer {

}

.wrongAnswer {

}

.uknown {

}

.innerw {
  left: 475px;
  top: 35px;
  overflow: hidden;
  position: absolute;
  /* border: solid; */
  z-index: 20;
  /* transform: translateZ(10px); */
  pointer-events: none;
}

.innerw2 {
  margin-right: 0px;
  margin-top: 0px;
  overflow: hidden;
  position: static;
  /* border: solid; */
  /* z-index: 20; */
  pointer-events: none;
}

.innerw3 {
  margin-left: 220px;
  margin-right: 40px;
  top: 0px;
  overflow: hidden;
  position: static;
  /* border: solid; */
  /* z-index: 20; */
  pointer-events: none;
}

.inner {
  margin-left: -107px;
  margin-top: 190px;
  background-color: #CDBB79;
  z-index: 20;
  position: static;
  pointer-events: auto;
}

/* .inner:hover {
  background-color: green;
} */

.mwrap {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}
.mwrap2 {
  position: static;
  margin-left: 0px;
  margin-top: 0px;
  overflow: hidden;
  pointer-events: none;
}
.mid {
  position: static;
  pointer-events: auto;
}
#midaw1 {
  left: 476px;
  top: 22px;
}
#mida {
  margin-left: 219px;
  margin-top: 0px;
}
#midbw1 {
  left: 690px;
  top: 32px;
  transform: rotate(6deg);
}
#midb {
  margin-left: -75px;
  margin-top: 205px;
}
#midcw1 {
  left: 585px;
  top: 227px;
  transform: rotate(-8deg);
}
#midc {
  margin-left: -85px;
  margin-top: -204px;
}
.mid {
  background-color: #B7695C;
  z-index: 15;
}
/* .mid:hover {
  background-color: blue;
} */


#outer1 {
  left: 440px;
  top: 6px;
}

#outer2 {
  left: 710px;
  top: 10px;
}
#outer3 {
  left: 584px;
  top: 230px;
}
.outer {
  width: 451px;
  height: 451px;
  background-color: #814374;
  z-index: 1;
  pointer-events: auto;
}
.outer2 {
  width: 448px;
  height: 448px;
  background-color: #814374;
  z-index: 1;
  pointer-events: auto;
}

.outer3 {
  width: 458px;
  height: 458px;
  background-color: #814374;
  z-index: 1;
  pointer-events: auto;
}



/* .outer:hover {
  background-color: red;
} */
